$bg_empahsis_color: #C90;
$bg_empahsis_hovor_color: darken($bg_empahsis_color, 5%);
$bg_emphasis_light_color: lighten($bg_empahsis_color, 10%);
$bg_metadata_editor_color: #fffffc;
$bg_site_selector_color: #ffffee;

$shadow_color: rgba(60, 75, 87, 0.27);
$border_color: rgba(102, 76, 0, 0.2);
$border_edge_color: #d0c3b5;

$statusbar_height: 25px;
