@import 'globals';

.mxp_metadata_editor_wrap {
  /*position: absolute;*/
  float: left;
  width: 69%;
  height: 100%;
  white-space: nowrap;
  border-left: 1px solid $border_edge_color;
  background: $bg_site_selector_color;
  bottom: $statusbar_height;
}
