@import 'globals';

.mxp_siteselector_wrap {
  /*position: absolute;*/
  float: left;
  width: 31%;
  height: 100%;
  border-right: 1px solid $border_edge_color;
  background: $bg_metadata_editor_color;
  bottom: $statusbar_height;
}
