<div class='noselect mxp_topbar_split'>
  <div class='mxp_topbar_menu_wrap'>
    <div class='mxp_topbar_menu_dropdown'>
      <a class='mxp_topbar_menu_button dropdown-toggle noselect' dropdown-toggle='' aria-haspopup='true' aria-expanded='false' (click)='dropdownOpen = !dropdownOpen'>
        <div [class.icon-hamburger-wrap]='!dropdownOpen' [class.icon-cancel]='dropdownOpen'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </div>{{title}}</a>
    </div>
  </div>
  <div class='mxp_topbar_main_wrap'>
    <div class='mxp_topbar_main_content'>
      Username
    </div>
  </div>
</div>
